{% extends 'demand/base.html' %}
{% load static %}
{% block content %}
<div style="padding:40px;margin:40px">
        <ul>

            {% for document in end %}

            <li>
                №: {{ document.id }} <a href="{{ document.upload_file.url }}">{{ document.upload_file.name }}</a>
                <small>({{ document.upload_file.size|filesizeformat }}) - {{document.upload_date}}
                    Тип бумаги: {{ document.type_paper}} Формат печати: {{document.print_format}} Фальцевание:
                    {{document.folding}} Количество копий: {{document.number_of_instances}} Телефон:
                    {{document.phone}} </small>
            </li>

            {% endfor %}

        </ul>
    </div>
{% endblock %}